body{
	background-color: #ffffff;
	border-radius: 10px;
}
.book-library {
background-color:#ffffff;
	border-radius: 10px;
	
}
.gg{
	justify-content:center;
	display: flex;
}
.book img{
	margin-top: 25px;
}
.book{
	text-align: center;
	background-color:#f8f8f8;
	margin: 20px;
	
}
.book h2{
	margin-left: 25px;
		display: flex;
		justify-content: start;
}
.book p{
	margin-left: 25px;
		display: flex;
		  justify-content: start;
		  color: #777777;
}


.book button{
	background:#2ecc71;
	color: white;
	border: 1px none;
	width: 90%;
	padding: 10px;
	border-radius: 4px;
	margin: 15px
	
}




